.homePage {
  position: relative;
  /* z-index: -1; */
  background-color: #efefef;
}
.cardBox .cardImg .imgBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBox .cardImg img {
  width: 10rem;
  height: 14rem;
}

.cardImg {
  /* border: 1px solid darkgray; */
  /* position: absolute; */
  /* z-index: 10000 !important; */
  border-radius: 5px;
  padding-top: 1rem;
  background-color: white;
}

.cardImg:hover #productImage {
  transform: scale(1.04);
}

.header p span {
  font-size: 1.4rem;
}
.card-moreDetails {
  text-align: center;
  border: 1px solid #0d6efd;
  border-radius: 3px;
  margin-bottom: 4px;
  cursor: pointer;
}

.cardBox .moreDetails {
  position: sticky;
  z-index: 1000;
  color: blue;
  text-decoration: none;
}
.cardBox button {
  background-color: #d2a534;
}
.heroScreen img {
  /* position: relative; */
  /* z-index: -10 !important; */
  margin-bottom: -270px;
  width: 100%;
  -webkit-mask-image: linear-gradient(180deg, #744, rgba(226, 232, 240, 0));
}
.product-listing {
  position: relative;
  z-index: 5;
}
.footer {
  background-color: #131921;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  color: white;
}

/* --------------media query-------------- */

@media screen and (max-width: 575px) {
  .navSearchBar {
    display: none;
  }
  .hiddenMobile {
    display: none;
  }
  .header .logo {
    width: 5rem;
  }
  .heroScreen img {
    margin-bottom: -102px;
  }
  .subTotalItems {
    position: inherit !important;
  }
  .subTotalItems > div {
    position: inherit !important;
    width: 100% !important;
    margin-bottom: 1rem;
  }
  .subTotalItems .cartBox {
    margin-left: 0 !important;
  }
}
