.TrendProductsContainer img {
  height: 18rem;
  padding: 3rem;
}
.trendyProdBox {
  /* background-color: white; */
}
.bgWhite {
  background-color: white;
}
.trendyProdPara {
  text-align: center;
  color: #cc0c39;
  font-size: 14px;
  font-weight: 700;
}
.trendyProdSpan {
  background-color: #cc0c39;
  font-size: 12px;
  color: white;
  padding: 4px;
  border: none;
  border-radius: 2px;
}
.carouselHyperLink {
  text-decoration: none;
}
